{% extends "legal.html" %}
{% block title %}Imprint{% endblock %}
{% block heading %}Imprint{% endblock %}
{% block legal %}
        <h2>Operator</h2>
        <p>{{ todo(site.operator_name, "Operator name") }}<br />
        {% for line in site.address_lines %}{{ line }}<br />{% else %}<mark class="todo">Postal address to be added</mark><br />{% endfor %}
        {{ site.governing_law }}</p>

        <h2>Contact</h2>
        <p>Email: {{ todo(site.contact_email, "Contact email") }}</p>

        <h2>Responsible for content</h2>
        <p>{{ todo(site.operator_name, "Operator name") }}, address as above.</p>

        <h2>Dispute resolution</h2>
        <p>We are neither obliged nor willing to take part in dispute resolution proceedings before a consumer arbitration board.</p>
{% endblock %}
