{% extends "auth_base.html" %}
{% block title %}Log in{% endblock %}
{% block eyebrow %}Welcome back{% endblock %}
{% block heading %}Log <em>in</em>{% endblock %}
{% block lede %}Continue building your profile.{% endblock %}
{% block action %}/login{% endblock %}
{% block password_placeholder %}Your password{% endblock %}
{% block password_rules %}data-msg-missing="Enter your password to log in."{% endblock %}
{% block submit %}Log in{% endblock %}
{% block switch %}Need an account? <a class="link" href="/signup">Create one</a>{% endblock %}
