{% extends "auth_base.html" %}
{% block title %}Create your account{% endblock %}
{% block eyebrow %}Cover Letter AI{% endblock %}
{% block heading %}Create your <em>account</em>{% endblock %}
{% block lede %}Start by signing up to build a personalized profile.{% endblock %}
{% block action %}/signup{% endblock %}
{% block password_placeholder %}Create a password{% endblock %}
{% block password_autocomplete %}new-password{% endblock %}
{% block submit %}Sign up{% endblock %}
{% block switch %}Already have an account? <a class="link" href="/login">Log in</a>{% endblock %}
